@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@mixin disable-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
@mixin hovering($scale) {
  @media (hover: hover) {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 1;
    & img {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      transform: scale(1);
    }
    &:hover {
      & img {
        transform: scale($scale);
      }
      opacity: 0.8;
    }
  }
}
body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: "Nunito";
  background-color: #e7e7e0;
}
#root {
  height: 100%;
  display: flex;
  gap: 24px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 424px) {
    flex-direction: column-reverse;
    gap: 18px;
  }
  &:nth-child(n + 1) {
    flex: 1 0 50%;
  }
}

.navbar {
  flex: 0 0 auto;
  @media (max-width: 424px) {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 24px 15px;
    right: 0;
    left: 0;
    background-color: #e7e7e0;
  }
  &__item {
    @include disable-select;
    border-radius: 12px;
    padding: 20px;
    background-color: #efd334;
    @include hovering(1.1);
    cursor: pointer;
  }
  &__link {
    @include disable-select;
  }
  &__image {
    pointer-events: none;
    @media (max-width: 767px) {
      width: 20px;
    }
  }
}

.note-list {
  height: 100%;
}

.right {
  overflow-x: hidden;
  flex: 1 1 50%;
  background-color: #fcfcfb;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 767px) {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    border-radius: 0;
  }
  &__back-btn {
    @include disable-select;
    @include hovering(1.1);
    margin: 20px 24px 0px;
    align-self: start;
  }
  &__title-wrapper {
    margin: 10px 24px 0px;
    position: relative;

    padding: 6px 16px 6px 55px;
    border-bottom: 2px solid rgb(51, 51, 49);
    &::after {
      content: "";
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url("./../images/brown-edit-btn.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
  &__title-input {
    width: 100%;
    color: rgb(102, 100, 86);
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    &::placeholder {
      opacity: 0.6;
      color: red;
    }
    @media (max-width: 1023px) {
      font-size: 24px;
    }
  }
  &__button {
    @include disable-select;
    @include hovering(1.1);
    cursor: pointer;
    img {
      pointer-events: none;
    }
  }
  &__note {
    flex: 1 1 auto;
    margin: 16px 24px 0px;
    color: rgb(51, 51, 49);
    font-size: 18px;
    font-weight: 400;
    line-height: 155%;
    text-align: justify;
    resize: none;
    &:focus {
      border: none;
      outline: none;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__options {
    background: rgb(223, 220, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;
  }
  &__editing-buttons {
    display: flex;
    gap: 30px;
  }
}

.selected {
  display: flex;
}

.left {
  overflow-x: hidden;
  padding-bottom: 88px;
  flex: 1 2 50%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  &__input-wrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px 30px 20px 80px;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      background-image: url("../images/search.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

  &__search {
    width: 100%;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    &::placeholder {
      color: hsla(0, 0%, 0%, 0.6);
    }
  }
  &__list {
    overflow-x: hidden;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-y: auto;
    @media (max-width: 424px) {
      margin-top: 24px;
      gap: 16px;
    }
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.no-notes {
  pointer-events: none;
  width: 100%;
  height: 100%;
  color: rgba(102, 100, 86, 0.6);
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media (max-width: 1023px) {
    font-size: 24px;
    img {
      width: 80px;
    }
  }
}
.list-item--active {
  .list-item__title {
    font-size: 26px;
  }
  .list-item__date {
    font-size: 12px;
  }
}
.list-item {
  @include disable-select;
  cursor: pointer;
  padding: 16px 30px 14px;
  border-radius: 12px;
  background: rgb(252, 252, 251);
  @include hovering(1);
  &__title {
    color: rgb(102, 100, 86);
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  &__date {
    color: rgba(102, 100, 86, 0.6);
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
  }
}
